.speaker-view {
  height: 100vh; 
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative; 
}

.spotlight {
  flex-grow: 1;
  width: 100%;
  position: relative;
  min-height: 0; 
}

.participants-bar {
  width: 100%;
  display: flex;
  gap: 8px;
  padding: 8px;
  overflow: hidden; 
}

.str-video__call-controls {
  position: absolute;
  bottom: 24px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}